<div class="container">
    <h1>Signup Form</h1>
    <form #register='ngForm' (ngSubmit)="onSubmit(register.value)">
      <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" ngControl='fname'>
      </div>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" ngControl='lname'>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" ngControl='email' required>
      </div>
      <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" class="form-control" ngControl='pass' required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

